<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart UI</title>
	<link rel="stylesheet" type="text/css" href="../static/style/style3.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
</head>
<body>
   <div class="CartContainer">
   	   <div class="Header">
   	   	<h3 class="Heading">Shopping Cart</h3>
   	   </div>

   	   <div class="Cart-Items">
		{%for result in results%}
   	   	  <div class="about">
            <h1 class="title">{{result[1]}}</h1>
            <h3 class="subtitle">{{result[0]}}</h3>
        </div>
        <div class="about">
            <h1 class="title">2</h1>
        </div>
   	   	  <div class="prices">
   	   	  	<div class="amount">{result[2]}</div>
   	   	  </div>
   	   </div>
	   {%endfor%}
   	 <hr> 
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Sub-Total</div>
   	 	</div>
   	 	<div class="total-amount">{{total}}</div>
   	 </div>
   	 <button class="button" >Checkout</button></div>
   </div>
</body>
</html>
customer_id,dish_name,total_amount