<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>


<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4>Zinger</h4>
  </div>
</header>


<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>From Address</h3><br>
  <i class="w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>{{results[0][0]}}</p>
  <p>{{results[0][1]}}</p>
  <p>{{results[0][2]}}</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>To Address</h3><br>
  <i class="w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>{{results[0][3]}}</p>
  <p>{{results[0][4]}}</p>
  <p>{{results[0][5]}}</p>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
    <form method="post" action="{{ url_for('deliveryview') }}">
        <!-- Other form fields here -->
        <input type="hidden" name="delivered" value="true">
        <button class="w3-button w3-center" style="min-height:400px" type="submit">Delivered</button>
    </form>  
</div>
</div>
</div>

</body>
</html>
 from_Building_name,
 from_city,
  from_pin_code,
to_Building_name,
to_city,
to_pin_code,
 deliveryboy_id
