<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Zinger</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="{{ url_for('show_cart') }}" class="w3-bar-item w3-button">Cart</a>
    </div>
    </div>
  </div>
</div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
 <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Filters</b></h4>
    <div class="w3-dropdown-hover">
      <label class="w3-button" for="veg_nonveg">Veg/Non</label>
      <select id="cuisine" class="w3-dropdown-content w3-bar-block w3-border" name="cuisine">
        <option class="w3-bar-item w3-button" value="all">All</option>
        <option class="w3-bar-item w3-button" value="t">Veg</option>
      </select>
    </div>

    <div class="w3-dropdown-hover">
    <label class="w3-button" for="cuisine">Cuisine</label>
    <select id="cuisine" class="w3-dropdown-content w3-bar-block w3-border" name="cuisine">
      <option class="w3-bar-item w3-button" value="all">All</option>
      <option class="w3-bar-item w3-button" value="thai">Thai</option>
      <option class="w3-bar-item w3-button" value="japanese">Japanese</option>
      <option class="w3-bar-item w3-button" value="korean">Korean</option>
      <option class="w3-bar-item w3-button" value="mexican">Mexican</option>
      <option class="w3-bar-item w3-button" value="italian">Italian</option>
      <option class="w3-bar-item w3-button" value="middle_eastern">Middle Eastern</option>
      <option class="w3-bar-item w3-button" value="indian">Indian</option>
      <option class="w3-bar-item w3-button" value="vietnamese">Vietnamese</option>
      <option class="w3-bar-item w3-button" value="chinese">Chinese</option>
    </select>
  </div>
  
    <input type="submit" class = "w3-button" value="Filter">
  </form>
  

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">RESTAURANT</h1>
      <p>WE ARE GOOD! BUY OUR STUFF! </p>
    </div>
    <div class="w3-col l6 w3-padding-large"><img class="w3-image" src="../static/style/food.jpg" alt="Hamburger Catering" >

    </div>
  </div>

  <div class="w3-row">
<!-- Menu Section -->
<div class="w3-row w3-padding-64" id="menu">
  <div class="w3-col l6 w3-padding-large">
    <h1 class="w3-center">Our Menu</h1><br>
    <div class="w3-row">
      
      {%for result in results%}
      <div class="w3-col s3">
        <img  max-width:100px; height:auto>
      </div>

      <div class="w3-col s9">
        <h4>{{result[0]}}</h4>
        <p class="w3-text-grey">{{result[1]}}</p><br>
        <div class="w3-row">
          <form action="/add_to_cart" method="POST">
            <div class="w3-col s6">
              <label for="quantity">Qty:</label>
              <input type="number" id="quantity" name="quantity" min="1" value="1">
              <input type = "hidden" type = "text" name = "dish_id" value={{result[4]}}>
            </div>
            <div class="w3-col s6">
              <button type="submit" class="w3-button w3-green w3-round-large">Add to Cart</button>
            </div>
          </form>
        </div>        
        </div>
      </div>
    </div>
    {%endfor%}


<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>