<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Zinger</a>

      </div>
    </div>
  </div>
</div>

<!-- About Container -->
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">All Restaurants</h1><br>
      {% for result in results%}
        <h4>{{result[1]}}</h4>
        {%if(loggedIn==True)%}
        
        <form method="post" action="{{ url_for('all_dishes', restaurant_id=result[1]) }}">
          <input type = "hidden" type = "text" name = "restaurant_id" value={{result[0]}}>
          <p><button class="w3-button w3-light-grey w3-section w3-button" type="submit">ORDER FROM HERE</button></p>
      </form>           
        {% endif %}
        {% endfor %}
     
    </div>


</body>
</html>
